# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\1.  UNIVERSIDAD 2021\1 PROGRAMACION\PROYECTOS_JAVA\ejemploListas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
